{% extends "header.html" %}
{% block title %} Create Playlist? {% endblock%}

{% block content%}
<!-- Loading Screen DIV-->
 <!-- bootstrap css loader, just using it for the loader icon! -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<script type="text/javascript">  //hides div and shows loading div on button click
		function myFunction() { 
			document.getElementById("content").style.display = "none"; 
			document.getElementById("loadingscreen").style.display = 'block';
		} 
</script> 

<div id="loadingscreen" style="display: none;
margin: auto;
width: 50%;
padding: 10px;
text-align: center;"> 
    <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    Loading...
</div>

<!-- end loading screen div -->

<div id="bootstrap-overrides">
    <div id="content" >
        <p> Create daily drive with {{ playlistname }}? </p>
        <form action="#" onsubmit="myFunction()" method="post">
            <input type="submit" value="yes" name="submission" id="{{ id }}"> <!--//this will trigger python script - how to get live update from ptyhon script in loading screen?  -->
            <input type="submit" value="no" name="submission"> <!-- //also acts as a go back button -->
        </form> 
    </div>
</div>
{% endblock %}