{% extends "header.html" %}
{% block title %} Home {% endblock%}

{% block content%}   

<p>launch python script here with passed info: {{ url }} </p> 
<br>
{{playlist["name"]}}
{{playlist["id"]}}
<br>
<br>
<br>
{{ playlist }}

    <!-- then, pass the pid into my actual python file, and display the link to the playlist -->
    <!-- or better yet, bring the page to the url of the playlist on spotify's live website-->
    <!-- then make the login/account authorization mechanism-->
    <style>
        body {
            background-color: #191414;
        }
    </style>
{%  endblock %}