<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} </title>
    <script src="{{url_for('static', filename='script.js')}}"></script>

   <!-- Bulma CSS!-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    
    <!-- my own styles sheet -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='spinner.css')}}">

    <!-- Bulma Navbar -->
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item p-0 pl-3" width="64" href="{{ url_for('index') }}">
          <img class="is-64x64" src="https://cdn.freebiesupply.com/logos/large/2x/spotify-2-logo-png-transparent.png" alt="spotify logo">
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="{{ url_for('index') }}" class="navbar-item">
            Home
          </a>
    
          <a href="{{ url_for('podcasts') }}" class="navbar-item">
            Add Podcasts
          </a>
    
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>
    
            <div class="navbar-dropdown">
              <a href="https://open.spotify.com/playlist/37i9dQZF1EfFTETp5u0zCK?si=7b3e412f37c846fb" class="navbar-item">
                About (example)
              </a>
              <a href="{{ url_for('test') }}" class="navbar-item">
                Documentation(test page)
              </a>
              <a href="https://github.com/ejayj/PythonSpotifyAPI" class="navbar-item">
                Contact
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a href="{{ url_for('index') }}" class="button is-dark" style="background-color: #1db954;">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light" href="{{ url_for('logout') }}" onclick="{{ url_for('logout') }}">
                Log Out
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- End Navbar-->
    <br>
</head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>