{% extends "header.html" %}
{% block title %} Home {% endblock%}

{% block content%}

<!-- MODAL -->
<!-- How do i make this non-exitable? you have to login-->
<!-- maybe for activation, do activation.html where the modal is activate, and-->
<!-- if ur not logged in, show modal. -->
<!--<p>This is Index.html</p>-->
<div class="container">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <h1 class="title m-2 has-text-grey">Choose a playlist to create Daily Drive:</h1>
            <input class="m-2 input is-medium pl-4" id="searchbar" onkeyup="search_animal()" type="text" name="search"
                placeholder="Search playlists...">

            <ul class="m-2" id="list">
                <!-- loop a list of playlist options -->
                <!-- I should iterate a list of pages to search through ??-->
                {%for i in range(0, maxindex)%}
                <form action="{{url_for('createplaylist')}}" method="POST">
                    <li class="my-1 is-dark animals" id="ply">
                        <input class="button is-small is-dark is-fullwidth is-size-6"
                            style="text-align: left; display: inline;" href="href=" type="submit" value="{{ data[i]["name"]}}" name="playlistname">
                        <input type="hidden" value="{{data[i]['id']}}" name="id">
                    </li>
                </form>
                {%endfor%}
                <!-- end loop -->
            </ul>
        </div>
    </div>
</div>

<style>
    body {
        min-height: 100vh;
        background-color: #191414;
    }
</style>
{% endblock %}

<!--
    issues:
    -search playlists doesnt work
    -spacing of search playlists is messed
    -
-->