{% extends "header.html" %}
{% block title %} Home {% endblock%}

{% block content%}
<div class="columns">
    <div class="column is-half is-offset-one-quarter">
        <h1 class="title m-2 has-text-grey">Add podcasts to your Daily Drive:</h1>
        <form action="{{url_for('podcasts')}}" method="POST">
            <div class="field has-addons">
                <input class="m-2 input is-medium" type="text" placeholder="Search podcasts..." name="submission">
                <input class="button m-2 is-medium is-dark" style="background-color: #1db954;" type="submit"
                    name="submission">
            </div>
        </form>
        <p class="m-2">{{message}}</p>
        <hr>
        <h1 class="title m-2 has-text-grey">Your podcasts:</h1>
        <ul>
            {%for i in range(0, maxindex)%}
            <li class="my-1 is-dark" id="ply">
                <h1 class="subtitle is-fullwidth is-size-6" style="text-align: left; display: inline;">
                    <a href="{{urlarray[i]}}">{{podcasts[i]["name"] }}</a> 
                    <form action="{{url_for('podcasts')}}" method="POST">
                        <input type="submit" value="delete">
                        <input type="hidden" value="{{podcasts[i]["name"] }}" name="podname">
                        <input type="hidden" value="{{podcasts[i]["id"] }}" name="podid">
                    </form>
                </h1>
            </li>
            {%endfor%}
        </ul>
    </div>
</div>

<style>
    body {
        min-height: 100vh;
        background-color: #191414;
    }
</style>
{% endblock %}